
/*Cambia el tipo de letra de la etiqueta h1*/
h1{
	font-family: Arial;
}
/*Cambia el tipo de letra en la etiqueta h2*/
h4{
	font-family: Arial;
}

/*Cambia el estilo del id contenido*/
#contenido{
  	float: center;
  	border-radius: .5em;
  	border: 1px solid #999;
    padding: 10px;
}
/*Cambia el diseño, marco y color del id contenido*/
#contenido{
	margin: 0 auto;
  	width: 25%;
  	height: 580px;
  	background: #FE891A;
  	border: #FF2E00 10px groove;
  	flex-wrap: wrap;
  	min-width: 300px;
  	margin-bottom: 0;
}

/*Cambia el estilo del id registropersona*/
#registrarpersona{
  	float: center;
  	border-radius: .5em;
  	border: 1px solid #999;
    padding: 10px;
}

/*Cambia el diseño, marco y color del id registropersona*/
#registrarpersona{
	margin: 0 auto;
  	width: 25%;
  	height: 295px;
  	background: #FE891A;
  	border: #FF2E00 10px groove;
  	flex-wrap: wrap;
  	min-width: 300px;
  	margin-bottom: 0;
}

/*Cambia el diseño, color estilo del id boton crearP */
#crearP{
	background-color: #EEEEDA;
  	border-radius: 30px;
  	width: 100px;
  	height: 40px;
  	display:block;
  	margin-left: auto;
  	margin-right: auto;
}

/*Cambia el diseño, color estilo del id boton botonprueba */
#botonprueba{
	background-color: #EEEEDA;
  	border-radius: 30px;
  	width: 100px;
  	height: 40px;
  	display:block;
  	margin-left: auto;
  	margin-right: auto;
}

/*Cambia el diseño, color estilo de la id inspeccionar */
#inspeccionar{
  background-color: #EEEEDA;
  border-radius: 30px;
  width: 100px;
  height: 40px;
  display:block;
  margin-left: auto;
  margin-right: auto;
}

/*Cambia el diseño, color estilo de la id mostrar */
#mostrar{
  background-color: #EEEEDA;
  border-radius: 30px;
  width: 100px;
  height: 40px;
  display:block;
  margin-left: auto;
  margin-right: auto;
}

/*Cambia el diseño, color estilo de la id volver */
#volver{
  background-color: #EEEEDA;
  border-radius: 30px;
  width: 100px;
  height: 40px;
  display:block;
  margin-left: auto;
  margin-right: auto;
}

/*Cambia el diseño, color estilo del id boton botoncarta */
#botoncarta{
	background-color: #EEEEDA;
  	border-radius: 30px;
  	width: 100px;
  	height: 40px;
  	display:block;
  	margin-left: auto;
  	margin-right: auto;
}


/*Cambia el diseño, color estilo del id boton ingresado */
#ingresado{
	background-color: #EEEEDA;
  	border-radius: 30px;
  	width: 100px;
  	height: 40px;
  	display:block;
  	margin-left: auto;
  	margin-right: auto;
}


/*Cambia el diseño, tamaño, color de la clase registro(cajas de texto)*/
.registro{
	width: 300px;
  	height: 30px;
  	background-color: #EEEEDA;
  	border-radius: 30px;
}
/*Cambia el tipo de letra de la etiqueta body*/
body {font-family: Arial;}

/*Cambia el diseño y el estilo de la clase tab*/
.tab {
  overflow: hidden;
  border: 1px solid #FF2E00;
  background-color: #FF4D00;
}

/*Cambia el estilo y el diseño de los botones que estan dentro de la clase tab*/
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/*Permite tener un efecto de sombreado sobre los botones al pasar el cursor*/
.tab button:hover {
  background-color: #FE891A;
}


/*Permite hacer un cambio de color en un boton al presionarlo*/
.tab button.active {
  background-color: #FE891A;
}

/*Cambia el diseño y forma de la clase tabcontent definida en el tab*/
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

/*Permite agregar un fondo al index.html*/
body{
  background-image: url("https://image.freepik.com/foto-gratis/textura-antigua-tablas-madera_1249-159.jpg");
}